dist: trusty   # Use Ubuntu 14.04 image (instead of 12.04)
language: r
sudo: false
r: 3.6.3

# Install packrat if needed and have it restore packages.
install:
  - R -e 'if (system.file(package="readr") == "") install.packages("readr")'
  - R -e 'if (system.file(package="randomForest") == "") install.packages("randomForest")'
  - R -e 'if (system.file(package="caret") == "") install.packages("caret")'
  - R -e 'if (system.file(package="lattice") == "") install.packages("lattice")'
  - R -e 'if (system.file(package="ggplot2") == "") install.packages("ggplot2")'
  - R -e 'if (system.file(package="shinydashboard") == "") install.packages("shinydashboard")'
  - R -e 'if (system.file(package="shiny") == "") install.packages("shiny")'
  - R -e 'if (system.file(package="testthat") == "") install.packages("testthat")'
  #- R -e 'if (system.file(package="packrat") == "") install.packages("shinytest")'


#cache:
  # Main R library
#  packages: true
#  directories:
    # Packrat packages
    #- packrat/lib
    # PhantomJS
#    - travis_phantomjs

# Install PhantomJS (if not cached)
#before_install:
#  - "export PHANTOMJS_VERSION=2.1.1"
#  - "phantomjs --version"
#  - "export PATH=$PWD/travis_phantomjs/phantomjs-$PHANTOMJS_VERSION-linux-x86_64/bin:$PATH"
#  - "hash -r"
#  - "phantomjs --version"
#  - "if [ $(phantomjs --version) != $PHANTOMJS_VERSION ]; then rm -rf $PWD/travis_phantomjs; mkdir -p $PWD/travis_phantomjs; fi"
#  - "if [ $(phantomjs --version) != $PHANTOMJS_VERSION ]; then wget https://github.com/Medium/phantomjs/releases/download/v$PHANTOMJS_VERSION/phantomjs-$PHANTOMJS_VERSION-linux-x86_64.tar.bz2 -O $PWD/travis_phantomjs/phantomjs-$PHANTOMJS_VERSION-linux-x86_64.tar.bz2; fi"
#  - "if [ $(phantomjs --version) != $PHANTOMJS_VERSION ]; then tar -xvf $PWD/travis_phantomjs/phantomjs-$PHANTOMJS_VERSION-linux-x86_64.tar.bz2 -C $PWD/travis_phantomjs; fi"
#  - "if [ $(phantomjs --version) != $PHANTOMJS_VERSION ]; then hash -r; fi"
#  - "phantomjs --version"

script:
  - R -f run_tests.R

deploy:
    provider: heroku
    api_key: $HEROKU_TOKEN
    app: credit-risk-analysis